<h1>Exercice 3 : Banque</h1>

<h1>La date du jour</h1>
<p>{{now | date:'medium'}}</p>

<!--
<div>
    <p>Transactions : </p>


    <mat-selection-list #transact [multiple]="false">
        <mat-list-option *ngFor="let tr of transactions" [value]="tr" (click)="routeTo()">
            Id :
            {{tr.id}}
            Amount :
            {{tr.amount}}
            Balance :
            {{tr.balance}}
            Label :
            {{tr.label}}
            Date :
            {{tr.date}}
        </mat-list-option>
    </mat-selection-list>


</div>


<div>
    <p>Transactions JSON : </p>


    <mat-selection-list #transactionjson [multiple]="false">
        <mat-list-option *ngFor="let tr of products" [value]="tr" (click)="routeTo()">
            <a routerLink="trans/{{tr.id}}">
                Id :
                {{tr.id}}
                Amount :
                {{tr.amount}}
                Balance :
                {{tr.balance}}
                Label :
                {{tr.label}}
                Date :
                {{tr.date}}
            </a>
        </mat-list-option>
    </mat-selection-list>


</div>

-->

<router-outlet></router-outlet>